# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

Import your data, either through an API or manually, and load it.

In [47]:
import pandas_datareader.data as web
import datetime as dt
import requests

Downloading data on average hours worked

In [57]:
base = 'http://stats.oecd.org/sdmx-json/data/'
param = [('dataset', 'PDB_LV'),
         ('country', 'AUS+AUT+BEL+CAN+CHL+COL+CRI+CZE+DNK+EST+FIN+FRA+DEU+GRC+HUN+ISL+IRL+ISR+ITA+JPN+KOR+LTU+LVA+LUX+MEX+NLD+NZL+NOR+POL+PRT+SVK+SVN+ESP+SWE+CHE+TUR+GBR+USA+EA19+EU27_2020+G-7+OECD+NMEC+BRA+CHN+IND+IDN+RUS+ZAF'),
         ('indicators', 'PEHRS'), 
         ('freq', 'Y'), 
         ('start_date' , '?startTime=2008')
        ]

series = '.'.join(x[1] for x in param[1:-1])
url = '{}{}/{}{}'.format(base, param[0][1], series, param[-1][1])

In [58]:
r = requests.get(url).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [56]:
date_list = r['structure']['dimensions']['observation'][0]['values']
dates = pd.to_datetime([x['id'] for x in date_list])
    
areas = [v['name'] for v in r['structure']['dimensions']['series'][0]['values']]

title = r['structure']['dimensions']['series'][1]['values'][0]['name']

df = pd.DataFrame()
for i, area in enumerate(areas):
    s_key = '{}:0:0:0'.format(i)
    s_list = r['dataSets'][0]['series'][s_key]['observations']
    df[area] = pd.Series([s_list[val][0] for val in sorted(s_list, key=int)])
    df[area] = (((df[area]/df[area].shift())**4)-1)*100
df.index = dates
df = df.dropna()
print(title)
df.tail().round(1)

Gross domestic product - expenditure approach

/var/folders/8n/0s_l94vx4jd99236nyjdnytw0000gn/T/ipykernel_16650/2395507190.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.to_datetime([x['id'] for x in date_list])

            Canada  France  Germany  Italy  Spain  United Kingdom
2022-07-01     1.8     2.3      1.5    1.3    2.1            -0.3
2022-10-01    -0.9    -0.2     -1.6   -1.0    2.0             0.4
2023-01-01     2.5     0.2      0.4    2.2    2.0             1.0
2023-04-01     1.4     2.7      0.1   -1.4    2.0             0.2
2023-07-01    -1.1    -0.1     -0.0    0.4    1.6            -0.5

In [48]:
#start_time = dt.datetime(2023,1,1)
#end_time = dt.datetime(2023,12,1)
#hours = web.DataReader('PDB_LV', 'oecd', start_time, end_time)

In [49]:
#print(hours.shape)
#hours.info()
#hours.head()

(1, 4212)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1 entries, 2023-01-01 to 2023-01-01
Columns: 4212 entries, ('Australia', 'Gross Domestic Product (GDP); millions', 'National currency, current prices') to ('European Union – 27 countries (from 01/02/2020)', 'Gross national income per hour worked', 'Gap in % points')
dtypes: float64(4212)
memory usage: 32.9 KB

Country                                 Australia  \
Subject    Gross Domestic Product (GDP); millions
Measure         National currency, current prices
Time
2023-01-01                                    NaN

Country                                                                       \
Subject
Measure    USD, current prices, current PPPs USD, constant prices, 2015 PPPs
Time
2023-01-01                               NaN                             NaN

Country                                                             \
Subject
Measure    As % of the USA (USA=100) Persons/Hours Gap in % points
Time
2023-01-01                       NaN           NaN             NaN

Country                                       \
Subject           GDP per head of population
Measure    National currency, current prices
Time
2023-01-01                               NaN

Country                                                                       \
Subject
Measure    USD, current prices, current PPPs USD, constant prices, 2015 PPPs
Time
2023-01-01                               NaN                             NaN

Country                               ...  \
Subject                               ...
Measure    As % of the USA (USA=100)  ...
Time                                  ...
2023-01-01                       NaN  ...

Country    European Union – 27 countries (from 01/02/2020)  \
Subject           Average hours worked per person employed
Measure                    USD, constant prices, 2015 PPPs
Time
2023-01-01                                             NaN

Country                                                             \
Subject
Measure    As % of the USA (USA=100) Persons/Hours Gap in % points
Time
2023-01-01                       NaN           NaN             NaN

Country                                           \
Subject    Gross national income per hour worked
Measure        National currency, current prices
Time
2023-01-01                                   NaN

Country                                                                       \
Subject
Measure    USD, current prices, current PPPs USD, constant prices, 2015 PPPs
Time
2023-01-01                               NaN                             NaN

Country
Subject
Measure    As % of the USA (USA=100) Persons/Hours Gap in % points
Time
2023-01-01                       NaN           NaN             NaN

[1 rows x 4212 columns]

Downloading data on employment rates

In [ ]:
#start_time = dt.datetime(2023,1,1)
#end_time = dt.datetime(2023,12,1)
#empl_rate = web.DataReader('STLABOUR', 'oecd', start_time, end_time)

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [ ]:
def plot_func():
    # Function that operates on data set
    pass

widgets.interact(plot_func, 
    # Let the widget interact with data through plot_func()    
);

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('Data X', 'Data Y'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.